header {
  height: 80px;
  background-color: #000000de;
  position: fixed;
  width: 100%;
}
.inner {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

/* header 부분 */
.inner .logo {
  width: 100px;
  background: url(https://i.postimg.cc/V06wP6hc/logo01.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 90%;
  text-indent: -999px;
  cursor: pointer;
  display: block;
  background-position: center;
  margin: 0 auto;
  text-align: center;
}

/* 상세부분 */
#visual {
  /* background: linear-gradient(0deg, rgb(0 0 0), rgb(0 0 0 / 84%)),
    url(https://image.tmdb.org/t/p/w500/2I5eBh98Q4aPq8WdQrHdTC8ARhY.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}
#visual .inner {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 120px;
}

.inner .word h2 {
  color: white;
  font-size: 48px;
}
.inner .word .vote {
  margin-top: 80px;
  margin-bottom: 30px;
}
.inner .word > p {
  color: #cccccc;
  font-size: 26px;
  margin: 50px 0;
  text-align: center;
}
.inner .word .info {
  text-align: center;
}
.inner .word .info p {
  display: inline-block;
  width: 30%;
  color: white;
  font-size: 18px;
  margin: 20px;
  text-align: center;
  border: 0.5px solid white;
  border-radius: 30px;
  padding: 20px 0;
  font-weight: bold;
}

.inner img {
  width: 300px;
  float: right;
  margin-left: 150px;
}

#visual hr {
  width: 1300px;
  margin: 0 auto;
  border: 0.5px solid #3e3e3eb5;
}

/* Overview 부분 */
#information {
  background-color: black;
  padding: 120px 0;
}

#information .inner h2 {
  color: white;
  font-size: 48px;
}
#information .inner p {
  color: white;
  margin-top: 60px;
  font-size: 18px;
  line-height: 36px;
}

#content {
  background-color: black;
  padding-bottom: 240px;
}

/* tab menu 부분 */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  display: inline-block;
  margin-bottom: 60px;
}

.tab button {
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
  color: white;
  background-color: black;
  width: 200px;
  height: 60px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

#reviews p {
  color: white;
}
#videos {
  display: none;
}
#videos p {
  color: white;
}
#recommend {
  display: none;
}
#recommend p {
  color: white;
}
