header {
  height: 80px;
  background-color: black;
}
.inner {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.inner .logo {
  width: 100px;
  background: url(https://i.postimg.cc/V06wP6hc/logo01.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 90%;
  text-indent: -999px;
  cursor: pointer;
  display: block;
  background-position: center;
  margin: 0 auto;
  text-align: center;
}
#visual {
  background: linear-gradient(0deg, rgb(0 0 0), rgb(0 0 0 / 84%)),
    url(https://image.tmdb.org/t/p/w500/2I5eBh98Q4aPq8WdQrHdTC8ARhY.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#visual .inner {
  margin: 0 auto;
  height: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.inner .word {
}
.inner .word h2 {
  color: white;
  font-size: 48px;
}
.inner .word .vote {
  margin-top: 80px;
  margin-bottom: 30px;
}
.inner .word > p {
  color: #cccccc;
  font-size: 26px;
  margin: 50px 0;
  text-align: center;
}
.inner .word .info {
  /* margin-top: 80px; */
  text-align: center;
}
.inner .word .info p {
  display: inline-block;
  width: 30%;
  color: white;
  font-size: 18px;
  margin: 20px;
  text-align: center;
  border: 0.5px solid white;
  border-radius: 30px;
  padding: 20px 0;
  font-weight: bold;
}
.inner .word .info p span {
}
.inner img {
  width: 300px;
  float: right;
  margin-left: 150px;
}

#visual hr {
  width: 1300px;
  margin: 0 auto;
  border: 0.5px solid #3e3e3eb5;
}

#content {
  background-color: black;
  padding-top: 170px;
  padding-bottom: 120px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: inline-block;
  width: 500px;
  margin-bottom: 60px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
  color: white;
  background-color: black;
  width: 50%;
  height: 60px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  /* display: none; */
  padding: 6px 12px;
  border-top: none;
  width: 1000px;
  margin: 0 auto;
}
.tabcontent p {
  color: #ccc;
  font-size: 20px;
  line-height: 60px;
}




/* ---------review--------- */

.review-container {
  width: 100%;
  color: rgba(255, 255, 255, 0.73);
  max-height: 500px;
  /* min-height: 100px; */
  /* background-color: aqua; */
  display: none;
}

.middleModal {
  overflow: scroll;
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.modalReview {
  position: absolute;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 10px;
  overflow: scroll;
}

.show-reviews {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  min-height: 80px;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 5px 0px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 17px;
}

.textImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background-image: url('https://yt3.googleusercontent.com/_DiGCcjGwJQAZ3zmlyB8TCYuA8O9tDJ9zGNysq5sR0rxwYb6SP5fW8cb3LbfcRwfui0m27oIhA=s900-c-k-c0x00ffffff-no-rj');
  background-position: center;
  background-size: cover;
  background-color: beige;
}


.textarea-name {
  max-width: 80px;
  word-break:break-all;
  margin-left: 5px;
}
.textarea-comment {
  border: 1px solid black;
  max-width: 65%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  word-break:break-all;
}
.reviews-btn {
  position: absolute;
  right: 10px;
  padding: 10px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: #cccccc;
}

#form .name {
  height: 30px;
  width: 75px;
  color: #262626;
  background-color: transparent;
  border: none;

  font-size: 17px;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-right: 5px;
  text-align: center;
}

#form .name:focus {
  outline: none;
}

#form .password{
  height: 30px;
  width: 75px;
  color: #252525;
  background-color: transparent;
  border: none;

  font-size: 17px;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-right: 5px;
  text-align: center;
}

#form .password:focus {
  outline: none;
}



/* .form-container textarea {

  
} */

.form-container .textareaComment {
  width: 60%;
  height: 20px;
  color: rgba(0, 0, 0, 0.747);
  border-radius: 20px; 
  padding: 10px; 
  /* border: 1px solid rgba(255, 255, 255, 0.784); */

  font-size: 17px;
  background-color: #e9dfdfca;
  border:  1px solid white;

  /* position: relative; */
  margin: 0 10px;
  /* resize: none; */
}

/* .textareaComment input::before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #a54242;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.textareaComment:focus::before {
  transform: scale(1);
} */


.form-container .textareaComment:focus {
  outline: none;
}
#form {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form button {
  padding: 10px;
  margin: 0 15px;
  font-family: sans-serif;
  font-weight: 700;
  border: none;
  cursor: pointer;
}



/* -------edit--------- */

#edit {
  padding: 10px;
  font-family: sans-serif;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

#remove {
  padding: 10px;
  margin: 0 10px;
  font-family: sans-serif;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.edit-background {
  background-color: #cccccc;
  color: black;
}

.editName {
width: 80px;
height: 30px;
color: #000000;
background-color: transparent;
border: none;
border-bottom: 1px solid rgb(36, 35, 35);
margin-right: 5px;
text-align: center;
}

.editpassword {
  width: 80px;
  height: 30px;
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(48, 46, 46);
  margin-right: 5px;
  text-align: center;
}

.editComment {
  width: 60%;
  height: 20px;
  color: rgba(0, 0, 0, 0.747);
  border-radius: 20px; 
  padding: 10px; 
  background-color: #ffffffca;
  border: none;
  border: none;
  margin: 0 10px;
  resize: none;
}

#clear {
  padding: 10px;
  margin: 0 15px;
  font-family: sans-serif;
  font-weight: 700;
  border: none;
  cursor: pointer;
}


.editName:focus {
  outline: none;
}
.editpassword:focus {
  outline: none;
}
.editComment:focus {
  outline: none;
}
.clear:focus {
  outline: none;
}