header {
  height: 80px;
  background-color: #000000de;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.inner {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

/* header 부분 */
.inner .logo {
  width: 100px;
  background: url(https://i.postimg.cc/V06wP6hc/logo01.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 90%;
  text-indent: -999px;
  cursor: pointer;
  display: block;
  background-position: center;
  margin: 0 auto;
  text-align: center;
}

/* 상세부분 */

#visual .inner {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 120px;
}

.inner .word h2 {
  color: white;
  font-size: 48px;
}
.inner .word .vote {
  margin-top: 80px;
  margin-bottom: 30px;
}
.inner .word .heart p {
  color: #cccccc;
  font-size: 26px;
  margin: 50px 0;
  text-align: center;
}
.inner .word .info {
  text-align: center;
}
.inner .word .info p {
  display: inline-block;
  width: 30%;
  color: white;
  font-size: 18px;
  margin: 20px;
  text-align: center;
  border: 0.5px solid white;
  border-radius: 30px;
  padding: 20px 0;
  font-weight: bold;
}

.inner .word > p {
  color: #cccccc;
  font-size: 26px;
  margin: 50px 0;
  text-align: center;
}

.inner img {
  width: 300px;
  float: right;
  margin-left: 150px;
}

#visual hr {
  width: 1300px;
  margin: 0 auto;
  border: 0.5px solid #3e3e3eb5;
}

/* Overview 부분 */
#information {
  background-color: black;
  padding: 120px 0;
}

#information .inner h2 {
  color: white;
  font-size: 48px;
}
#information .inner p {
  color: white;
  margin-top: 60px;
  font-size: 18px;
  line-height: 36px;
}

#content {
  background-color: black;
  padding-bottom: 240px;
}

/* 좋아요 버튼 부분 */
.heart {
  height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#btn {
  cursor: pointer;
  font-size: 2em;
  margin-left: 50px;
  margin-right: 15px;
}

/* tab menu 부분 */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  display: inline-block;
  margin-bottom: 60px;
}

.tab button {
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
  color: white;
  background-color: black;
  width: 200px;
  height: 60px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

#reviews p {
  color: white;
}
#videos {
  display: none;
}
#videos p {
  color: white;
}
#more {
  display: none;
}
#more p {
  color: white;
}

/* movie videos */
.videos {
  background-color: black;
  padding-top: 40px;
}

.videos__title {
  color: white;
  font-size: 36px;
}

.videos__moreBtn {
  margin-top: 30px;
  cursor: pointer;
  border: 1px solid white;
  /* box-shadow: none; */
  color: white;
  background-color: transparent;
  width: 100%;
  height: 45px;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowDownIcon {
  margin-bottom: 5px;
  display: inline-block;
  width: 35px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-image: url(/static/img/arrow-down.svg);
}

.videos__moreBtn:hover {
  background-color: #ffffff2e;
}

/* youtube */
#youtubePlayer__container {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000eb;
}

#youtubePlayer__container.hide {
  display: none;
}

#youtubePlayer {
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videoList {
  margin-top: 30px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  justify-items: center;
  row-gap: 24px;
  column-gap: 24px;
}

.videoList__video {
  background-color: black;
  text-align: center;
  font-size: 18px;
}

.videoList__video img {
  display: block;
  width: 100%;
  /* height: 100%; */
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.playIcon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 16px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 18px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0 7px 20px;
  font-size: 70px;
  color: #fff;
  display: grid;
  place-items: center;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: none;
  background-color: rgb(255 255 255 / 29%); /* rgb(255 43 43); */
  transition: all 200ms ease-in-out;
}

.playIcon::before {
  content: '';
  display: inline-block;
  border-left: 0.3em solid;
  border-top: 0.18em solid transparent;
  border-bottom: 0.18em solid transparent;
  margin-right: -0.08em;
}

.videoThumbnail:hover .playIcon {
  background-color: rgb(211 35 35);
  font-size: 100px;
}

.videoThumbnail {
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
}

.videoThumbnail__title {
  margin-top: 10px;
  color: white;
  white-space: normal;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ------------review-------------- */

.review-container {
  width: 80%;
  color: rgba(255, 255, 255, 0.73);
  max-height: 600px;
  position: relative;
  margin: 0 auto;
}

.review-container::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.middleModal {
  overflow: scroll;
  position: relative;
  height: 380px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.middleModal::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.modalReview {
  position: absolute;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 10px;
  overflow: scroll;
}

.modalReview::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.show-reviews {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  min-height: 80px;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 5px 0px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 17px;
}

.textImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background-image: url('https://yt3.googleusercontent.com/_DiGCcjGwJQAZ3zmlyB8TCYuA8O9tDJ9zGNysq5sR0rxwYb6SP5fW8cb3LbfcRwfui0m27oIhA=s900-c-k-c0x00ffffff-no-rj');
  background-position: center;
  background-size: cover;
  background-color: beige;
}

.textarea-name {
  max-width: 80px;
  word-break: break-all;
  margin-left: 5px;
}
.textarea-comment {
  letter-spacing: 0.8px;
  max-width: 50%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  word-break: break-all;
}
.reviews-btn {
  position: absolute;
  right: 10px;
  padding: 10px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: #cccccc;
}

#form .name {
  height: 30px;
  width: 75px;
  color: #262626;
  background-color: transparent;
  border: none;
  font-size: 17px;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-right: 5px;
  text-align: center;
}

#form .name:focus {
  outline: none;
}

#form .password {
  height: 30px;
  width: 75px;
  color: #252525;
  background-color: transparent;
  border: none;
  font-size: 17px;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-right: 5px;
  text-align: center;
}

#form .password:focus {
  outline: none;
}

.form-container .textareaComment {
  width: 40%;
  height: 20px;
  color: rgba(0, 0, 0, 0.747);
  border-radius: 20px;
  padding: 10px;
  font-size: 17px;
  background-color: #e9dfdfca;
  border: 1px solid white;
  margin: 0 10px;
}

.form-container .textareaComment:focus {
  outline: none;
}
#form {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form button {
  padding: 10px;
  margin: 0 15px;
  font-family: sans-serif;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* -------edit--------- */

#edit {
  padding: 10px;
  font-family: sans-serif;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#remove {
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.edit-background {
  background-color: #cccccc;
  color: black;
}

.editName {
  width: 80px;
  height: 30px;
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(36, 35, 35);
  margin-right: 5px;
  text-align: center;
}

.editpassword {
  width: 80px;
  height: 30px;
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(48, 46, 46);
  margin-right: 5px;
  text-align: center;
}

.editComment {
  width: 60%;
  height: 20px;
  color: rgba(0, 0, 0, 0.747);
  border-radius: 20px;
  padding: 10px;
  background-color: #ffffffca;
  border: none;
  border: none;
  margin: 0 10px;
  resize: none;
}

.edit-button {
  position: absolute;
  right: 7%;
}

#clear {
  padding: 10px;
  margin: 0 5px;
  font-family: sans-serif;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.editName:focus {
  outline: none;
}
.editpassword:focus {
  outline: none;
}
.editComment:focus {
  outline: none;
}
.clear:focus {
  outline: none;
}

/* ---------reviewInputStar-------- */

.star {
  width: 150px;
  height: 40px;
  margin-right: 10px;
  background-color: darkblue;
}

.reviews-btn span {
  margin-right: 10px;
  font-family: sans-serif;
  font-size: 13px;
}

.rating_box {
  display: flex;
}

.rating {
  position: relative;
  color: #ddd;
  font-size: 30px;
  text-align: center;
}

.rating input {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.rating_star {
  width: 0;
  color: #30b458;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}

/* more_영화 추천 부분 */

#more {
  box-sizing: border-box;
  width: 1300px;
}

.more_section {
  display: flex;
  position: relative;
}

.swiper {
  display: flex;
  width: 1300px;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  width: 1200px;
  align-items: center;
}

#btn_left {
  position: absolute;
  top: 50%;
  left: -40px;
  z-index: 10;
}

/* more_영화 카드들 */
.swiper-slide {
  display: flex;
  width: 360px;
  height: 500px;
}

.swiper-slide a {
  display: block;
  position: relative;
  align-items: center;
}
.swiper-slide a img {
  margin: 0 10px;
  width: 360px;
  height: 500px;
  object-fit: cover;
}
.swiper-slide a .info {
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: #000000eb;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.2s linear;
  cursor: pointer;
}

.swiper-slide a .info:hover {
  opacity: 100;
}
.swiper-slide a .info .wrap {
  display: inline-block;
}
.swiper-slide a .info h3 {
  font-size: 32px;
  margin-bottom: 30px;
  color: white;
  user-select: none;
}
.swiper-slide a .info p {
  line-height: 20px;
  color: #ccc;
  user-select: none;
}
.swiper-slide a .info p:last-child {
  margin-top: 30px;
}

/* 앞/뒤로 가기 버튼 */
.swiper-button-prev,
.swiper-button-next {
  color: white;
}
