header {
  background-color: #000000de;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  width: 100%;
}
header .inner {
  width: 1300px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}
header .inner .logo {
  width: 100px;
  background: url(https://i.postimg.cc/V06wP6hc/logo01.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  text-indent: -999px;
}

header #gnb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}
header #gnb li {
  text-align: center;
}
header #gnb li a {
  display: inline-block;
  width: 100%;
  line-height: 70px;
  margin-right: 70px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

header #gnb li:first-child a {
  color: blue;
}

#visual {
  width: 100%;
  height: 930px;
  background-image: url(../static/img/background03.png);
}
#movie_search_cards {
  background: black;
  padding-bottom: 240px;
  padding-top: 180px;
}
#movie_search_cards h2 {
  text-align: center;
  font-size: 48px;
  color: white;
  margin-bottom: 34px;
}
#search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 60px;
}
#search form fieldset {
  border: none;
}
#search form fieldset input {
  width: 300px;
  height: 26px;
}
#search form fieldset button {
  height: 50px;
  width: 50px;
  margin-left: 15px;
  background: url(https://i.postimg.cc/wtCcN97p/icon01.png);
  background-size: contain;
  border: none;
  text-indent: -999px;
  cursor: pointer;
}

.wrapper {
  text-align: center;
}
#cards .inner {
  width: 1300px;
  margin: 0px auto;
}

#cards-box .col {
  background-color: red;
  display: inline-block;
  margin: 2%;
}
#cards-box .col a {
  display: block;
  height: 280px;
  position: relative;
}
#cards-box .col a .info {
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: #000000eb;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 281px;
  opacity: 0;
}
#cards-box .col a .info:hover {
  opacity: 100;
}

#cards-box .col a .info .wrap {
  display: inline-block;
}

#cards-box .col a .info h3 {
  font-size: 36px;
  margin-bottom: 30px;
  color: white;
}
#cards-box .col a .info p {
  line-height: 20px;
  color: #ccc;
}
#cards-box .col a .info p:last-child {
  margin-top: 30px;
}
