<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>movie search</title>
  <link rel="stylesheet" href="../static/reset.css">
  <link rel="stylesheet" href="../static/style.css">

</head>

<body>
  <header>
    <div class="inner">
      <a class="logo" onClick="window.location.reload()">
        <h1>logo</h1>
      </a>
      <ul id="gnb">
        <li class="home_btn"><a>HOME</a></li>
        <li class="movies_btn"><a>MOVIES</a></li>
      </ul>
      </nav>
  </header>

  <!--banner 부분-->
  <section id="visual"></section>

  <!-- 영화검색 부분-->
  <section id="movie_search_cards">
    <h2>MOVIES</h2>
    <div id="search">
      <form>
        <fieldset>
          <input type="text" style="display:none;" />
          <input id="movie_name_input" type="text" onkeyup="if(event.keyCode==13){search_btn()}">
          <button type="button" onclick="search_btn()">검색</button>
        </fieldset>
      </form>
    </div>

    <!-- Card 부분 -->
    <div id="cards">
      <div class="inner">
        <div id="cards-box" class="wrapper">
          <div class="col"><a href=""><img src="" alt=""></a></div>
          <div class="col"><a href=""><img src="" alt=""></a></div>
          <div class="col"><a href=""><img src="" alt=""></a></div>
          <div class="col"><a href=""><img src="" alt=""></a></div>
          <div class="col"><a href=""><img src="" alt=""></a></div>
          <div class="col"><a href=""><img src="" alt=""></a></div>
        </div>
      </div>
    </div>
  </section>
</body>

<script src="../static/script.js"></script>

</html>